/* Custom CSS for editor in frontend */
body {
    background: #a4ddf2; /* To check if this css is working */
    margin-top: 20px;
}
body:before {
	content: "This comes from assets/front_enqueue_css.css file";
	display: block;
	position: relative;
	top: 55px;
}